In [17]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [18]:
#Q1
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [19]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [20]:
 #Q2
# In pandas, both loc and iloc are used for indexing and selecting data in a DataFrame, but they have different behaviors:

# loc:

# loc is primarily label-based indexing, meaning you use the actual index or column names to select data.
# When using loc, both the row and column indices are inclusive. That is, the end index is included in the selection.
# You use loc when you want to select data based on the labels of the rows and columns.
# iloc:

# iloc is integer-based indexing, meaning you use integer indices to select data.
# When using iloc, the end index is exclusive, which is the standard Python behavior for slicing.
# You use iloc when you want to select data based on the integer position of the rows and columns.

In [21]:
#Q3
reindex = [3,0,1,2]
new_df = df.copy()

new_df.index= reindex

In [22]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [23]:
new_df

        course_name  duration
3      Data Science         2
0  Machine Learning         3
1          Big Data         6
2     Data Engineer         4

In [24]:
new_df.loc[2]

course_name    Data Engineer
duration                   4
Name: 2, dtype: object

In [25]:
new_df.iloc[2]

course_name    Big Data
duration              6
Name: 1, dtype: object

In [26]:
# So Basically the difference is because loc[2] will search for value 2 in index row wheres iloc will look for row number 2 in sequence like 0 than 1 than 2 i.e 3rd row it will print in sequence

In [27]:
#Q4
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [28]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.958680  0.613573  0.528605  0.209126  0.029071  0.240569
2  0.287167  0.404053  0.540271  0.551391  0.132080  0.107966
3  0.602024  0.130653  0.363620  0.127555  0.243976  0.796006
4  0.131048  0.740938  0.869605  0.930311  0.676621  0.909043
5  0.259980  0.414511  0.285216  0.445272  0.776243  0.218152
6  0.807864  0.393116  0.403236  0.821356  0.840152  0.553797

In [29]:
df1.describe().mean()

column_1    1.174780
column_2    1.112470
column_3    1.154563
column_4    1.176713
column_5    1.130721
column_6    1.147118
dtype: float64

In [30]:
df1['column_2'].std()

0.209756180676343

In [31]:
#Q5
variable = ['Hi','How','Are','You','Bro',':)']
df1['column_2'] = variable
# df1.loc[:, 'column_2'] = variable

In [32]:
df1['column_2'].mean()

TypeError: Could not convert HiHowAreYouBro:) to numeric

In [33]:
# As we can see above we cannot calculate mean of column full of string

In [34]:
# Q6
# In pandas, the window functions are used for performing calculations on a rolling or expanding window of data in a DataFrame. These functions enable you to compute aggregated statistics over a specified window of data points, such as moving averages, cumulative sums, or rolling standard deviations.

# The types of window functions in pandas include:

# 1. Rolling Functions: These functions perform calculations over a fixed-size moving window of data. The window moves along the data and computes the desired statistic for each window. Common rolling functions include:
#    - `rolling.mean()`: Computes the rolling mean (average) of the data.
#    - `rolling.sum()`: Computes the rolling sum of the data.
#    - `rolling.std()`: Computes the rolling standard deviation of the data.
#    - `rolling.min()`: Computes the rolling minimum of the data.
#    - `rolling.max()`: Computes the rolling maximum of the data.
#    - `rolling.median()`: Computes the rolling median of the data.
#    - `rolling.quantile()`: Computes the rolling quantile (percentile) of the data.
#    - `rolling.apply()`: Applies a custom function to each rolling window.

# 2. Expanding Functions: These functions perform calculations over an expanding window of data, starting from the beginning of the data and gradually including more observations in each calculation. Common expanding functions include:
#    - `expanding.mean()`: Computes the expanding mean (average) of the data.
#    - `expanding.sum()`: Computes the expanding sum of the data.
#    - `expanding.std()`: Computes the expanding standard deviation of the data.
#    - `expanding.min()`: Computes the expanding minimum of the data.
#    - `expanding.max()`: Computes the expanding maximum of the data.
#    - `expanding.median()`: Computes the expanding median of the data.
#    - `expanding.quantile()`: Computes the expanding quantile (percentile) of the data.
#    - `expanding.apply()`: Applies a custom function to each expanding window.

# These window functions provide powerful tools for analyzing and visualizing time series data, as well as performing feature engineering in machine learning tasks. They allow you to efficiently compute aggregate statistics over rolling or expanding windows, which can reveal trends, patterns, and anomalies in the data.

In [35]:
#Q7

current_datetime = pd.datetime.now()

print("Current date and time:", current_datetime)
print("Current Month", current_datetime.month)
print("Current Year", current_datetime.year)

Current date and time: 2024-02-11 05:31:34.154837
Current Month 2
Current Year 2024

/tmp/ipykernel_95/2157766440.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_datetime = pd.datetime.now()

In [36]:
#Q8
d1 = input('Please enter start date in YYYY-MM-DD format =')
d2 = input('Please enter end date in YYYY-MM-DD format =')
startdate = pd.to_datetime(d1)
enddate = pd.to_datetime(d2)

Please enter start date in YYYY-MM-DD format = 2024-02-10 08:00:00
Please enter end date in YYYY-MM-DD format = 2024-02-11 15:30:00

In [37]:
time_delta =enddate-startdate

In [38]:
time_delta

Timedelta('1 days 07:30:00')

In [39]:
time_delta/pd.Timedelta(days=1)

1.3125

In [40]:
time_delta/pd.Timedelta(hours=1)

31.5

In [41]:
time_delta/pd.Timedelta(minutes=1)

1890.0

In [42]:
players_data.csv
Pos
['PF','SG','C','SF','PG','Pos']

NameError: name 'players_data' is not defined

In [3]:
#Q9
from pandas.api.types import CategoricalDtype
import ast
file_path = input('Please Enter File Name:')
df = pd.read_csv(file_path)
column_name = input('Please Enter Column Name to convert it to Categorical Data Type:')
category = input('Please Enter Category in List format as required:')
category_list = ast.literal_eval(category)
cat_dtype = CategoricalDtype(categories=category_list, ordered=True)
df[column_name] = df[column_name].astype(cat_dtype)
sorted_df = df.sort_values(by=column_name)
print("\nSorted DataFrame:")
print(sorted_df)

Please Enter File Name: players_data.csv
Please Enter Column Name to convert it to Categorical Data Type: Pos
Please Enter Category in List format as required: ['PF','SG','C','SF','PG','Pos']

Sorted DataFrame:
      Rk              Player  Pos Age   Tm   G  GS    MP   FG  FGA  ...  \
0      1          Quincy Acy   PF  24  NYK  68  22  1287  152  331  ...
422  331       Marcus Morris   PF  25  PHO  81  35  2045  331  763  ...
420  329       Eric Moreland   PF  23  SAC   3   0     2    1    1  ...
418  327         Greg Monroe   PF  24  DET  69  57  2137  423  853  ...
416  325      Nikola Mirotić   PF  23  CHI  82   3  1654  253  624  ...
..   ...                 ...  ...  ..  ...  ..  ..   ...  ...  ...  ...
430  337        Toure' Murry  NaN  25  TOT   5   0    18    2    5  ...
447  346         Steve Novak  NaN  31  TOT  35   0   197   22   56  ...
479  369    Quincy Pondexter  NaN  26  TOT  75  30  1793  188  447  ...
515  388  Glenn Robinson III  NaN  21  TOT  35   1   261   26   67  ...
595  437        Lance Thomas  NaN  26  TOT  62  37  1490  182  442  ...

       FT%  ORB  DRB  TRB  AST STL BLK  TOV   PF   PTS
0     .784   79  222  301   68  27  22   60  147   398
422   .628   73  312  385  133  63  16   73  188   845
420    NaN    0    1    1    0   0   0    0    1     2
418   .750  229  475  704  142  78  34  149  148  1098
416   .803   63  341  404   97  54  54   89  172   833
..     ...  ...  ...  ...  ...  ..  ..  ...  ...   ...
430  1.000    1    0    1    1   1   0    4    2     6
447   .000    2   20   22   11   0   2    5   23    63
479   .740   53  142  195   94  19  24   51  150   538
515   .667   15   24   39   11   6   1   11   15    73
595   .727   65  130  195   69  37   8   74  101   443

[675 rows x 30 columns]

In [ ]:
#Q10
import pandas as pd

# Function to visualize sales data using pandas
def visualize_sales_data():
    # Prompt user to enter file path
    file_path = input("Please enter the file path of the CSV file containing sales data: ")

    try:
        # Read CSV file into DataFrame
        df = pd.read_csv(file_path)

        # Convert 'Date' column to datetime type
        df['Date'] = pd.to_datetime(df['Date'])

        # Set 'Date' column as index
        df.set_index('Date', inplace=True)

        # Plot stacked bar chart using pandas
        df.plot(kind='bar', stacked=True, figsize=(10, 6))
        plt.xlabel('Date')
        plt.ylabel('Sales')
        plt.title('Stacked Bar Chart of Sales by Product Category over Time')
        plt.legend(title='Product Category')
        plt.xticks(rotation=45)
        plt.tight_layout()
        plt.show()

    except Exception as e:
        print("An error occurred:", e)


visualize_sales_data()

In [20]:
#Q11
file_path = input('Please Enter File Name:')
df = pd.read_csv(file_path)
df
final_table = {'Mean':[df['Test Score'].mean()],
              'Median':[df['Test Score'].median()],
              'Mode':[df['Test Score'].mode()]}
df_table = pd.DataFrame(final_table)
df_table

Please Enter File Name: student_data.csv

   Mean  Median                                    Mode
0  83.5    85.0  0    85
Name: Test Score, dtype: int64