In [14]:
#Q1
import pandas as pd
d = [4,8,15,16,23,42]
df = pd.DataFrame(d)
type(df)

pandas.core.frame.DataFrame

In [8]:
#Q2
d = [0,1,2,3,4,5,6,7,8,9]
df = pd.Series(d)
print(df)
type(df)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

pandas.core.series.Series

In [16]:
#Q3
d = {'Name':['Alice','Bob','Claire'],
     'Age':[25,30,27],
     'Gender':['Female','Male','Female']}

In [19]:
df = pd.DataFrame(d)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [20]:
# Q4
# A DataFrame in pandas is a 2-dimensional labeled data structure with columns of potentially different types. It's like a spreadsheet or SQL table, where each column can be of a different type (e.g., integer, float, string).
 
# A pandas Series is a one-dimensional labeled array capable of holding any data type. It's like a single column in a DataFrame.
 
# Here's a brief example:

In [21]:
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Paris', 'London', 'Tokyo']}
df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   25  New York
1   Anna   30     Paris
2  Peter   35    London
3  Linda   40     Tokyo

In [22]:
# In this example, `df` is a DataFrame with three columns: 'Name', 'Age', and 'City'. Each column is a pandas Series.

In [23]:
ages = df['Age']
print(ages)

0    25
1    30
2    35
3    40
Name: Age, dtype: int64

In [24]:
# Here, `ages` is a Series containing the ages of individuals from the DataFrame.

In [27]:
#Q5
# There are several common functions in Pandas for data manipulation in a DataFrame:
 
# 1. **`head()` and `tail()`:** These functions allow you to quickly inspect the first or last few rows of a DataFrame.
   
#    Example:
print(df.head()) 
print(df.tail(3))  
 
# 2. **`describe()`:** Provides summary statistics of numerical columns in the DataFrame.
 
#    Example:
print(df.describe())  # Summary statistics of numerical columns
 
# 3. **`info()`:** Gives a concise summary of the DataFrame, including the data types of each column and memory usage.
 
#    Example:
print(df.info())  # Summary information about the DataFrame
 
# 4. **`drop()`:** Allows you to drop specified rows or columns from the DataFrame.
 
#    Example:
df.drop(['City'], axis=1, inplace=True)  # Drops the 'City' column from the DataFrame
 
# 5. **`groupby()`:** Groups the DataFrame by specified columns and allows applying functions to these groups.
 
#    Example:
grouped_data = df.groupby('Age').mean()  # Groups data by 'Age' and calculates the mean of other columns

 
# These functions are just a few examples, and there are many more available in Pandas for various data manipulation tasks such as filtering, sorting, merging, reshaping, and more.

    Name  Age      City
0   John   25  New York
1   Anna   30     Paris
2  Peter   35    London
3  Linda   40     Tokyo
    Name  Age    City
1   Anna   30   Paris
2  Peter   35  London
3  Linda   40   Tokyo
             Age
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes
None

/tmp/ipykernel_70/1790557516.py:28: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data = df.groupby('Age').mean()  # Groups data by 'Age' and calculates the mean of other columns

In [29]:
# Q6
# Mutability:

# Series:

# Values are mutable: You can modify the contents of individual elements within a Series.
# Size is immutable: You cannot change the number of elements in a Series. If you need to adjust the size, you'll need to create a new Series.
# DataFrame:

# Values are mutable: You can modify the contents of individual elements within a DataFrame.
# Size is mutable: You can add or remove rows and columns, effectively changing the dimensions of the DataFrame.
# Panel:

# Values are mutable: You can modify the contents of individual elements within a Panel.
# Size is mutable: You can add or remove DataFrames (slices) from the Panel, changing its dimensions.

In [30]:
#Q7
import pandas as pd
 
# Creating multiple Series
names = pd.Series(['John', 'Anna', 'Peter', 'Linda'])
ages = pd.Series([25, 30, 35, 40])
cities = pd.Series(['New York', 'Paris', 'London', 'Tokyo'])
 
# Creating a DataFrame using the Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})
 
print(df)

    Name  Age      City
0   John   25  New York
1   Anna   30     Paris
2  Peter   35    London
3  Linda   40     Tokyo