In [ ]:
#Q1
#A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

#SQL databases:

#Like neatly labelled folders with rows and columns, making it easy to find specific things (think: phonebook).
#Good for complex queries and ensuring data accuracy, but less flexible for changing data formats.
#Example: your bank's account information.

#NoSQL databases:

#More like dumping everything in boxes, each containing related items (think: shoebox of family photos).
#Faster for handling large or unstructured data like images or social media posts.
#Easier to adapt to changing needs, but may be trickier for complex queries.
#Example: storing millions of user profiles on a social media platform.
#So, choose SQL for organized, precise data, and NoSQL for speed and flexibility with less structured stuff.

In [ ]:
# Q2
# DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a relational database.
# DDL statements are responsible for defining and managing database objects such as tables, indexes, and constraints.
# The main DDL statements include CREATE, DROP, ALTER, and TRUNCATE.

# 1. CREATE:

# Purpose: To build new structures within a database.
# Example: CREATE TABLE Customers (CustomerID int, Name varchar(50), Email varchar(100));
# This creates a new table named "Customers" with columns for customer ID, name, and email.
# 2. DROP:

# Purpose: To completely remove database objects.
# Example: DROP TABLE Products;
# This deletes the entire "Products" table and all its data.
# 3. ALTER:

# Purpose: To modify existing structures without destroying them.
# Example: ALTER TABLE Orders ADD OrderDate date;
# This adds a new column named "OrderDate" to the "Orders" table.
# 4. TRUNCATE:

# Purpose: To quickly erase all data from a table, but keep the table structure itself intact.
# Example: TRUNCATE TABLE Logs;
# This empties the "Logs" table, removing all entries but preserving its columns and settings.

In [ ]:
# Q3
# DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) that is used to manipulate the data stored in a relational database.
# DML statements include INSERT, UPDATE, DELETE, and SELECT.
# In this context, I'll focus on explaining INSERT, UPDATE, and DELETE.

# INSERT:

# Purpose: Used to insert new records (rows) into a table.
# Example:
# INSERT INTO employees (employee_id, first_name, last_name, hire_date)
# VALUES (1, 'John', 'Doe', '2023-01-18');

# This SQL statement inserts a new record into the "employees" table with values for the employee ID, first name, last name, and hire date.


# UPDATE:

# Purpose: Used to modify existing records in a table.
# Example:
# UPDATE employees
# SET first_name = 'Jane'
# WHERE employee_id = 1;

# This SQL statement updates the "first_name" column in the "employees" table for the record with an employee ID of 1, changing the first name from 'John' to 'Jane'.

# DELETE:

# Purpose: Used to remove records from a table.
# Example:
# DELETE FROM employees
# WHERE employee_id = 1;
# This SQL statement deletes the record with an employee ID of 1 from the "employees" table. Be cautious when using DELETE, as it permanently removes data from the table.

In [ ]:
# #Q4
# DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) that is used to query and retrieve data from a relational database.
# The primary DQL statement is SELECT, which allows you to specify the data you want to retrieve and how to retrieve it.

# SELECT:

# Purpose: Used to retrieve data from one or more tables.
# Example:
# SELECT employee_id, first_name, last_name, hire_date
# FROM employees
# WHERE department_id = 2;
# This SQL statement selects specific columns (employee_id, first_name, last_name, hire_date) from the "employees" table where the department_id is equal to 2.
# The result is a set of rows that satisfy the specified conditions.

In [ ]:
# Q5
# **Primary Key:**
# **Definition:** A primary key is a unique identifier for a record in a database table.
# It ensures that each row in the table is uniquely identified and helps in enforcing entity integrity.
# **Example:** In a table of employees, the "employee_id" column can be a primary key, guaranteeing each employee has a unique identifier.

# **Foreign Key:**
# **Definition:** A foreign key is a column or set of columns in a table that refers to the primary key of another table.
# It establishes a link between the two tables, creating a relationship.
# **Example:** In a table of orders, the "customer_id" column might be a foreign key that refers to the "customer_id" primary key in a table of customers, connecting each order to a specific customer.

# In simple terms, a primary key uniquely identifies a record in its own table, while a foreign key establishes a connection between two tables by referencing the primary key of another table.

In [ ]:
# #Q6
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="abc",
#   password="password")
#
# mycursor = mydb.cursor()
# mycursor.execute("CREATE TABLE if not exists test2.test_table(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 INT, c5 VARCHAR(50));")
# mydb.close()

# cursor() Method:
# The cursor() method creates a cursor object, which is used to interact with the MySQL database. It allows you to execute SQL queries and fetch results.

# execute() Method:
# The execute() method is used to execute a SQL query.
# It takes the SQL query string as its first argument and can also take a tuple of values if the query has placeholders (%s) for parameters.
# In the example, the create_table_query, insert_data_query, and select_query are SQL queries executed using the execute() method.

In [ ]:
# Q7

# In a standard SQL query, the order of execution for the clauses is as follows:

# FROM: Specifies the table or tables from which the data will be retrieved.

# WHERE: Filters the rows based on specified conditions. It is used to narrow down the result set.

# GROUP BY: Groups the result set by one or more columns. It is often used with aggregate functions.

# HAVING: Filters the result set based on conditions after the GROUP BY clause. It is similar to the WHERE clause but operates on grouped data.

# SELECT: Specifies the columns to be included in the result set. It comes after the FROM, WHERE, GROUP BY, and HAVING clauses.

# ORDER BY: Sorts the result set based on specified columns and order (ascending or descending).

# LIMIT/OFFSET (optional): Limits the number of rows returned or skips a specified number of rows. It is used for pagination.

# Example:-
# SELECT
#     column1, column2, ...
# FROM
#     table
# WHERE
#     conditions
# GROUP BY
#     column1, column2, ...
# HAVING
#     conditions
# ORDER BY
#     column1, column2, ...
# LIMIT
#     n
# OFFSET
#     m;