In [ ]:
#Q1
l = [('Sachin Tendulkar',34357),('Ricky Pointing',27483),('Jack Kallis',25534),('Virat Kohli',24936)]

In [ ]:
l.sort(key = lambda x:x[1])

In [ ]:
l

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Pointing', 27483),
 ('Sachin Tendulkar', 34357)]

In [ ]:
#Q2
l2 = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,l2))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Q3
l3 = [1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x:str(x),l3))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
#Q4
from functools import reduce
reduce (lambda x,y:x+y,list(range(25)))

300

In [ ]:
#Q5
l = [2,3,6,9,27,60,90,120,55,46]
a = list(filter(lambda x:x%2==0 or x%3==0,l))
print(a)

[2, 3, 6, 9, 27, 60, 90, 120, 46]

In [ ]:
#Q6
l = ['python','php','aba','radar','level']
a= list(filter(lambda x: (x == "".join(reversed(x))), l))
print(a)

['php', 'aba', 'radar', 'level']